* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

figure {
    width: fit-content;
    height: fit-content;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

p {
    font-size: 16px;
}




/*header*/
header {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../img/m_bg.png);


}

header .h_inner {
    max-width: 100%;
    height: 100%;
    color: #fff;
}

header .h_inner .up {
    padding: 0 80px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

header .h_inner .up h1 {
    font-size: 30px;

}

header .h_inner .up p {
    font-size: 22px;

}

header .mid {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin-top: -110px;
}

header .btn {
    max-width: 265px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 100px;
    color: #fff;

}

header .btn p {
    max-width: 265px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 26px;

}

/*//header*/

/*section01*/
.s_1 {
    max-width: 1400px;
    margin: 430px auto;
}

.s_1 .textbox {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.s_1 .textbox p {
    font-size: 50px;
}

.s_1 .s_inner {
    padding-top: 90px;
}

.s_1 .s_inner .box {
    display: flex;
    justify-content: space-between;
}

.s_1 .s_inner .box:not(:last-child) {
    padding-bottom: 78px;
}

.s_1 .s_inner .box figure {
    max-width: 692px;


}

.s_1 .s_inner .box .t_box h3 {
    padding-bottom: 20px;
}

.s_1 .s_inner .box .t_box p {
    line-height: 1.5;
}

/*aside*/
aside {
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

aside .textbox {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

aside .textbox p {
    font-size: 50px;
}

aside .a_inner {
    max-width: 100%;
    padding-top: 90px;
}

aside .a_inner .box {
    max-width: 100%;
    position: relative;
}

aside .a_inner .box:not(:last-child) {
    margin-bottom: 40px;
}


aside .a_inner .box figure {
    max-width: 100%;
    position: relative;

}

aside .a_inner .box h4 {
    font-size: 2vw;
    position: absolute;
    color: #fff;
    top: 40px;
    left: 40px;
}

aside .a_inner .box .arrow {

    max-width: 1.5vw;
    height: 3.2vh;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translate(0, -50%);


}

/*//aside*/

/*section02*/
.s_2 {
    margin: 430px auto;
    max-width: 1400px;
    width: 100%;
    height: 928px;
    background-color: #4B410B;
    text-align: center;
    color: #fff;
}

.s_2 p:first-child {
    font-size: 50px;
    padding: 74px 0;
}

.s_2 .v_box {
    margin: auto;
    margin-bottom: 20px;
    max-width: 930px;
    height: 548px;
}

/*//section02*/

/*section03*/
.s_3 {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    margin-bottom: 430px;
}

.s_3 .textbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.s_3 .textbox p {
    font-size: 50px;
}

.s_3 .s_inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.s_3 .s_inner .b1 {
    max-width: 1277px;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}

.s_3 .s_inner .b2 {
    max-width: 850px;
    width: 100%;

    margin-right: 40px;
    margin-bottom: 40px;
}

.s_3 .s_inner .b3 {
    max-width: 510px;
    width: 100%;

    margin-top: -80px;
}

.s_3 .s_inner .b4 {
    max-width: 457px;
    width: 100%;
    margin-left: 62px;
    margin-right: 71px;
}

.s_3 .s_inner .b5 {
    max-width: 749px;
    width: 100%;
    margin-top: -117px;
    margin-bottom: 40px;

}

.s_3 .s_inner .btn {
    position: absolute;
    bottom: -68px;
    right: 61px;
}

.s_3 .s_inner .btn p {
    max-width: 224px;
    width: 100%;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    color: #fff;
}



/*//section03*/
/*footer*/
footer {
    width: 100%;
    height: 35vh;
    background-color: #4B410B;
    color: #fff;
    position: relative;
    margin-top: 194px;
}

footer .icon {
    max-width: 400px;
    width: 100%;
    position: absolute;
    right: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}


footer .icon figure:not(:last-child) {
    margin-right: 70px;
}

footer .textbox {
    max-width: 100%;
    position: absolute;
    bottom: 50px;
    left: 100px;

}

footer .textbox ul {
    display: flex;
    flex-wrap: wrap;

}

footer .textbox ul li:not(:last-child) {
    margin-right: 3px;
}

footer .textbox ul li:not(:last-child)::after {
    content: '|';
}

/*//footer*/


@media screen and (max-width:1420px) {

    /*section01*/
    .s_1 .textbox h2 {
        display: none;
    }

    .s_1 .textbox p {
        margin: auto;
        font-weight: bold;
    }

    .s_1 .s_inner .box {
        flex-direction: column;
    }

    .s_1 .s_inner .box figure {
        margin: auto;
    }

    .s_1 .s_inner .box .t_box {
        text-align: center;
        margin-top: 68px;
    }

    /*//section01*/
    /*aside*/

    aside .textbox h2 {
        display: none;

    }

    aside .textbox p {
        margin: auto;
        font-weight: bold;
    }

    /*//aside*/
    /*section03*/
    .s_3 .textbox h2 {
        display: none;
    }

    .s_3 .textbox p {
        margin: auto;
        font-weight: bold;
    }

    .s_3 .s_inner {
        max-width: 956px;
        margin: auto;
    }

    .s_3 .s_inner .b1 {
        max-width: 956px;
        margin: 0;
        margin-bottom: 20px;
        order: 3;
    }

    .s_3 .s_inner .b2 {
        max-width: 468px;
        margin: 0;
        margin-bottom: 20px;
        margin-right: 20px;
        order: 1;
    }

    .s_3 .s_inner .b3 {
        max-width: 468px;
        margin: 0;
        margin-bottom: 20px;
        order: 2;
    }

    .s_3 .s_inner .b4 {
        max-width: 468px;
        margin: 0;
        margin-right: 20px;
        order: 4;
    }

    .s_3 .s_inner .b5 {
        max-width: 468px;
        margin: 0;
        margin-bottom: 20px;
        order: 5;
    }


    .s_3 .s_inner .btn {
        right: 0;
    }

}

/*//section03*/

@media screen and (max-width:1200px) {

    /*header*/
    header {
        background-image: url(../img/mid_bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    header .h_inner .mid {
        display: none;

    }

    header .h_inner .up h1 {
        font-size: 22px;
    }

    header .h_inner .up p {
        font-size: 18px;
        font-weight: bold;
    }

    header .btn {
        max-width: 242px;
    }

    header .btn a p {
        font-size: 24px;
    }

    /*//header*/

    /*aside*/
    aside .a_inner {
        max-width: 1200px;
        margin: auto;

    }

    /*//aside*/

    footer .icon {
        position: static;
        margin: 0 auto;
        padding-top: 50px;

    }

    footer .textbox {
        position: static;
        margin-top: 50px;
        text-align: center;
    }

    footer .textbox ul {
        display: inline-block;
        margin: auto;
        


    }

    footer .textbox ul li{
        line-height: 1.5;
    }

    footer .textbox ul li:not(:last-child)::after {
        content: '';
    }

}
    @media screen and (max-width:1024px) {
        .s_3 {
            max-width: 540px;
            width: 100%;
            margin: auto;
        }

        .s_3 .s_inner {
            width: 100%;
            margin: auto;

        }

        .s_3 .s_inner .b1 {
            max-width: 540px;

            margin: 0;
            margin-bottom: 16px;
            order: 3;
        }

        .s_3 .s_inner .b2 {
            max-width: 262px;

            margin: 0;
            margin-right: 16px;
            margin-bottom: 16px;
            order: 1;
        }

        .s_3 .s_inner .b3 {
            max-width: 262px;

            margin: 0;
            margin-bottom: 16px;
            order: 2;
        }

        .s_3 .s_inner .b4 {
            max-width: 262px;

            margin: 0;
            margin-right: 16px;
            margin-bottom: 16px;
            order: 4;
        }

        .s_3 .s_inner .b5 {
            max-width: 262px;

            margin: 0;
            margin-bottom: 16px;
            order: 5;
        }


        .s_3 .s_inner .btn {
            margin: auto;
            max-width: 575px;
            width: 100%;
            bottom: -76px;
        }

        .s_3 .s_inner .btn p {
            max-width: 575px;
            width: 100%;
        }

        /*footer*/

        footer .icon {
            max-width: 300px;

        }




        footer .textbox ul li {
            line-height: 1.5;

        }

        /*//footer*/


    }


    @media screen and (max-width:1000px) {

        .s_2 {
            max-width: 1000px;
            width: 100%;
            height: 880px;
        }

        .s_2 .v_box {
            max-width: 700px;
            width: 100%;
            height: 500px;
        }

        .s_2 .v_box iframe {
            max-width: 700px;
            width: 100%;
            height: 500px;
        }



    }

    @media screen and (max-width:800px) {

        .s_1 .textbox p {
            font-size: 5vw;
        }

        .s_1 .s_inner .box .t_box h3 {
            font-size: 3.5vw;
        }

        .s_1 .s_inner .box .t_box p {
            font-size: 2vw;
        }


        aside .a_inner .box h4 {
            top: 20px;
            left: 20px
        }

        aside .a_inner .box .arrow {
            right: 20px;
        }

        aside .a_inner .box:not(:last-child) {
            margin-bottom: 30px;
        }


        /*s_2*/

        .s_2 p:first-child {
            font-size: 5vw;
        }


        .s_2 {
            height: 800px;
        }

        .s_2 .v_box {
            max-width: 500px;
            width: 100%;
            height: 500px;
        }

        .s_2 .v_box iframe {
            max-width: 500px;
            width: 100%;
            height: 500px;
        }




        /*s_2*/
        /*aside*/

        aside .textbox p {
            font-size: 5vw;
        }

        /*//aside*/

        .s_3 .textbox p {
            font-size: 5vw;
        }

        footer .textbox ul li {
            font-size: 2vw;
        }

        footer {
            height: 250px;
        }
    }

    @media screen and (max-width:575px) {

        header .h_inner .up h1 {
            font-size: 18px;
            margin: auto;
        }

        header .h_inner .up p {
            display: none;
        }


        aside {
            max-width: 575px;
            width: 100%;
            margin: auto;
        }

        aside .a_inner {
            max-width: 575px;
            width: 100%;
            margin: auto;
        }

        aside .a_inner .box:not(:last-child) {
            margin-bottom: 20px;
        }


        .s_2 {
            height: 600px;
        }

        .s_2 .v_box {
            max-width: 350px;
            width: 100%;
            height: 350px;
        }

        .s_2 .v_box iframe {

            max-width: 350px;
            width: 100%;
            height: 350px;
        }


        .s_3 .s_inner {
            padding: 0 20px;
        }

        .s_3 .s_inner .b1 {
            display: none;
        }

        .s_3 .s_inner .b2 {
            margin: auto;
            margin-bottom: 15px;
            
        }

        .s_3 .s_inner .b3 {
            margin: auto;
            margin-bottom: 15px;
        }

        .s_3 .s_inner .b4 {
            margin: auto;
            margin-bottom: 15px;
        }

        .s_3 .s_inner .b5 {
            margin: auto;
            margin-bottom: 8px;
        }


        footer .textbox ul li {
            font-size: 12px;
        }

        .s_3 .s_inner .btn figure{
            display: none;
        }

        .s_3 .s_inner .btn p{
            width: 262px;
            color: #4B410B;
            font-size: 15px;
            text-align: right;
        }

        .s_3 .s_inner .btn p:hover{
            
            color: #9FC016;
          
        }

        .s_3 .s_inner .btn{
            bottom: -10px;
        }










    }